<html>
    <head>
        <link rel="stylesheet" href="/static/rating_app.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/movies.js"></script> 

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if g.logged_in %}
        <form action="/logout" method="get">
        <button type="submit" style="float:right" name ="logout" id="logout">Log out</button>
        </form>
        {% endif %} 

    
    </head>
    <body>


        {% block body %}
        {% endblock %}
    </body>
</html>
