{% extends 'base.html' %}
{% block body %}
   
    <div>
    <h1>{{ movie.movie_title }}</h1>
    <p>Release date: {{ movie.release_date }}</p>
    <a href={{movie.IMDB}}>IMDB Page</a>
    </div>

    <form>
        <h3>Please rate {{ movie.movie_title }}:</h3>
        <p> Your current rating: {{ template_rating}}</p> 
        <div><label for="rating">Rating:</label>
        <div><input type="radio" name="stars" value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</div>
        <div><input type="radio" name="stars" value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</div>
        <div><input type="radio" name="stars" value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</div>
        <div><input type="radio" name="stars" value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
        <div><input type="radio" name="stars" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        </div>

        <div><input type="submit" value="Submit" id="rate-submit"></div>

    </form>

{% endblock %}