{% extends 'base.html' %}
{% block body %}
    <div><form class="sign-up-form" method="POST">
        <div><label for="email">Email:</label>
        <input type = "text" name ="email" id="email"/></div>

        <div><label for="password">Password:</label>
        <input type = "text" name="password" id="password"/></div>

        <div><label for="age">Age:</label>
        <input type = "text" name="age" id="age"/></div>

        <div><label for="zipcode">Zipcode:</label>
        <input type = "text" name="zipcode" id="zipcode"/></div>

        <div><label for="gender">Gender:</label>
        <input type="radio" name="sex" value="male">Male
        <input type="radio" name="sex" value="female">Female
        <input type="radio" name="sex" value="other">Other</div>

        <div><input type="submit" value="Submit" id="signup-submit"></div>

    </form></div>

{% endblock %}