{% extends 'base.html' %}
{% block body %}
    <form class="sign-up-form" method="POST">
        <div><label for="email">Email:</label>
        <input type = "text" id="email"/></div>

        <div><label for="password">Password:</label>
        <input type = "text" id="password"/></div>

        <div><label for="age">Age:</label>
        <input type = "text" id="age"/></div>

        <div><label for="zipcode">Zipcode:</label>
        <input type = "text" id="zipcode"/></div>

        <div><label for="gender">Gender:</label>
        <input type="radio" name="sex" value="male">Male
        <input type="radio" name="sex" value="female">Female
        <input type="radio" name="sex" value="other">Other</div>

        <div><input type="submit" value="Submit" id="signup-submit"></div>

    </form>

{% endblock %}